@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply w-full max-w-md left-1/2 -translate-x-1/2;
}

body {
  margin: 0;
  scrollbar-width: thin;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

img {
  display: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --txt-color: #213547;
    color: var(--txt-color);
    --bg-color: #ebebeb;
    background-color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: rgba(255, 255, 255, 0.87);
    color: var(--txt-color);
    --bg-color: #242424;
    background-color: var(--bg-color);
  }
}
